* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #F2EBD9;
    color: #1A1A1A;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.navbar-main{
    background-color:#283D28;
    padding: 20px 0;
    position: sticky;
    box-shadow:0 5px 5px -2px #0e4070;
    top:0;
    z-index: 1000;
}

.nav-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-student{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0e4070;
    text-decoration: none;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: #F2EBD9;
    font-weight: bold;
    font-size: 0.9rem
}

.nav-links a:hover {
    color: #0e4070;
}

header{
    background-color: #283D28;
    color: #F2EBD9;
    padding: 60px 20px;
    text-align: center;
    position: relative;

}

header h1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;

}

header p{
    font-size: 1.5rem;
}

section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 40px 20px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #0e4070;
    margin-bottom: 20px;
}

.project{
    font-weight: bold;
}

article{
    border-left: 2px solid #0e4070;
    padding-left: 20px;
    margin-bottom: 40px;
    position: relative;
}

article::before {
    content: '✦';
    position: absolute;
    left: -8px;
    color: #0e4070;
    background: #F2EBD9;
}